*{
    padding: 0;
    margin: 0;
    text-decoration:none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-image: url(/images/paris.webp);
    background-repeat: no-repeat; */
    background-color: rgb(224, 202, 172);
    
    
    
}
nav{
    
    position: fixed;
    background: #e6e5e5dc;
    height: 80px;
    width: 100%;
    backdrop-filter: blur(10px);
}
.logo{
    width: 80px;
    height: 80px;   
}
nav ul{
    float: right;
    margin-right:20px 20px;
}
nav ul li{
    display: inline-block;
    line-height: 40px;
    margin: 25px 20px;
}
nav ul li a{
    color: #926B50;
    font-size: 17px;
    text-transform: uppercase;
    font-family: Montserrat300;
    transition: .3s;
}
.sidebar{
    position: fixed;
    top: 0;
    right: -15px;
    width: 250px;
    height: 100vh;
    z-index: 999;
    background-color: #e6e5e5fb;
    backdrop-filter: blur (10px);
    box-shadow: -10px 0 -10px rgb(7, 7, 7);
    display:none;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.menu-button{
    display: none;
}
.close-button{
    margin-left: -10 px;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1; 

}
/* section:nth-child(odd){
 background: #e6e5e5dc;
} */
ul li a:hover {
    color: #dd6712;
}

.osh {
    display:inline-block;
    width: 150px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.336);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    margin-top: 5%;
    margin-bottom: 5%;
    
}
.osh-1{
    width: 150px;
    height: 100px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.text{
    display: inline-block;
    font-size: xx-small;
    color: black;
    margin: 10px;
    margin-left: 10px;
    /* backdrop-filter: blur(10px); */
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.yashil{
    display: inline-block;
    background-color: rgb(3, 204, 3);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 2%;
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: xx-small;
    font-family: Arial, sans-serif;
}
.narx{
    display: inline-flex;
    color: black;
    margin-left: 8px;
    background-color:  rgba(255, 255, 255, 0.019);
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ovqat-nomi{
    font-size: x-small;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
.fa-solid{
    /* background-color: white; */
    color: green;
    margin-left: 15px;
    /* backdrop-filter: blur(10px); */
    background-color: rgba(255, 255, 255, 0);
}
.fa-regular{
    /* background-color: white; */
    color: green;
    margin-left: 15px;
    /* backdrop-filter: blur(10px); */
    background-color: rgb(255, 255, 255,0.014);
}
 
@media(max-width:890px){
    .hideonmobile{
        display: none;
    }
    .menu-button{
    display:block;
   }
}
